/.mc-lists.el
/auto-save-list/
/ede-projects.el
/elpa/
/eshell/
/games/
/geben/
/history
/irony/
/places
/projectile-bookmarks.eld
/projectile.cache
/semanticdb/
/tramp
/url/
/#init.el#
/.mc-lists.elc
/.org-id-locations
/abbrev_defs
/ede-projects.elc
/workbench.xmi
/session.*
/backup/
/recentf
/transient/
/.emacs.desktop
/.emacs.desktop.lock
